.bg-orange {
  background-color: orange;
}

.btn-orange {
  background-color: orange;
}

.clickbtn {
  border-color: orange;
  border-radius: 18%;
  border-width: 2px;
  border-style: solid;
  padding: 4px;
  width: 76px;

}
