.bg-orange {
  background-color: orange;
}

.btn-orange {
  background-color: orange;
}

.clickbtn {
  border-color: orange;
  border-radius: 18%;
  border-width: 2px;
  border-style: solid;
  padding: 4px;
  width: 76px;

}

nav a:hover {

  opacity: 0.3;
  color: white;
  transition: all 0.5s ease;
  cursor: pointer;
  background-color: #111111;
}

nav {

  padding: 8px 16px;
}
